html, body {
    margin: 0;
    padding: 0;
}
#canvas {
    background:white;
    position: absolute;
    top: 10%;
    left: 3%;
}

#clr{
    position: absolute;
    top: 91%;
    left: 72%;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
}
#clr:hover {
    background-color: rgb(255, 253, 224);
}

#save{
    position: absolute;
    top: 84%;
    left: 72%;
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#save:hover {
    background-color: rgb(255, 253, 224);
}

#inputfile {
    
    position: absolute;
    left:54.9%;
    top:5.8% ;
}

#color-input {
    display: none;
}  
#color-label {
    position: absolute;
    left: 93%;
    top: 28.3%;
    height: 30px;
    width: 50px;
} 

#BackgroundColor{
    position:absolute;
    left:87.5%;
    top:77.7%;
    height: 10px;
    width: 50px;
    opacity: 1;
    border: 1px solid bisque;
}
#bgc{
    position:absolute;
    left:72%;
    top:77%;
}
#ChangeBackground{
    position:absolute;
    left:73.5%;
    top:77%;
    width: 190px;
}

#dwbgc{
    position:absolute;
    left:72%;
    top:80%;
}
#DownloadBackgroundColor{
    position:absolute;
    left:73.5%;
    top:80%;
}
#color-picker {
    position: absolute;
    left: 72%; 
    top: 10%;
    background-color: white;
    height: 150px;
    width: 249px;
    border: solid 1px #ccc;
    opacity: 1;
    padding: 5px;
}

#undo-redo {
    position:absolute;
    left:62%;
    top:5.8% ;
    height:20px;
    width:120px ;
}

#brush {
    position:absolute;
    left:72%;
    top:50% ;
    height:165px;
    width:255px ;
}

#brushtype{
    position:absolute;
    left:72%;
    top:46% ;
}

#range-wrap {
    position: absolute;
    left:72%;
    top:35%;
}
#linewidth {
    -webkit-appearance: none;
    height: 8px;
    background: linear-gradient(to right, #0145b8, #00e5e0, #00f25e);
    border:solid 1px #ccc;
    border-radius: 4px;
    outline: none;
    opacity: 0.9;
}
    
#linewidth:hover {
    opacity: 1;
}
    
#linewidth::-webkit-slider-thumb {
    
    width: 10px;
    height: 10px;
    background: black;
    border:solid 1px #ccc;
}
    
#linewidth::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 10px;
}

.cursor {
    position: absolute;
    width: 5px;
    height: 5px;
    
    cursor: none;
    pointer-events: none;
}

#textbox{
    background-image: url('BtnText.png');
    background-size: cover;
    width: 80px;
    height:80px;
}

#curve{
    background-image: url('BtnPencil.png');
    background-size: cover;
    width: 80px;
    height:80px;
}

#eraser{
    background-image: url('BtnEraser.png');
    background-size: cover;
    width: 80px;
    height:80px;
}

#rectangle{
    background-image: url('BtnRectangle.png');
    background-size: cover;
    width: 80px;
    height:80px;
}

#triangle{
    background-image: url('BtnTriangle.png');
    background-size: cover;
    width: 80px;
    height:80px;
}

#circle{
    background-image: url('BtnCircle.png');
    background-size: cover;
    width: 80px;
    height:80px;
}
#Font{
    position:absolute;
    left: 72%;
    top: 40%;
    width: 250px;
}
